<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pro.burgerz.wsm.mods.mmsfestival"
          android:installLocation="internalOnly"
          android:versionCode="21"
          android:versionName="2.1" >

    <uses-sdk android:minSdkVersion="15" />

    <application android:label="@string/module_name" android:icon="@drawable/icon">
        <activity
            android:name="Settings"
            android:label="@string/module_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>        
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposedminversion" android:value="30+" />
        <meta-data android:name="xposeddescription" android:value="@string/module_desc" />
        <meta-data android:name="xposeddetails" android:value="@string/module_desc_full" />
    </application>

</manifest>